
<div class = "About" id = "About">
  <div class = "main">
    <div data-aos="zoom-in" data-aos-duration="1000" class = "About-img">
      <img src = "assets/Media/children.jpg">
    </div>
    <div data-aos="fade-up" data-aos-duration="1000" class = "About-text">
      <h2>{{'About Learning & Fun Press' | translate}}</h2>
        <p>{{'Detailsv1' | translate}}</p> 
        <p>{{'Detailsv2' | translate}}</p>
        <p>{{'Detailsv3' | translate}}</p>
        <p>{{'Detailsv4' | translate}}</p>
        <p>{{'Detailsv5' | translate}}</p>
    </div>
  </div>
</div>

