
<div class = "About">
  <div class = "main">
    <div data-aos="zoom-in" data-aos-duration="1000" class = "About-img">
      <img src = "assets/Media/children.jpg">
    </div>
    <div data-aos="fade-up" data-aos-duration="1000" class = "About-text">
      <h2>About Learning & Fun Press</h2>
        <p>Learning & Fun Press was founded</p>
        <p>to create educational and enertaining books,</p>
        <p>especially for your child.</p>
        <p>Our goal is to provide valuable products</p>
        <p>that combine learning and fun.</p>
    </div>
  </div>
</div>

