<div class="thirdpage">
  <div class="container">
      <div class="page-title">
          <h1>Charity and Trips</h1>
        </div>
      <div class="gallery">
        <div class="gallery-item">
          <img src="assets/Media/Trip1.jpg" alt="Travel Photo 1">
          <div class="caption">Jalapa, Mexico</div>
        </div>
        <div class="gallery-item">
          <img src="assets/Media/Trip2.jpg" alt="Travel Photo 2">
          <div class="caption">Chartum, Sudan</div>
        </div>
        <div class="gallery-item">
          <img src="assets/Media/Trip5.jpg" alt="Travel Photo 3">
          <div class="caption">Los Angeles, USA</div>
        </div>
        <div class="gallery-item">
          <img src="assets/Media/Trip4.jpg" alt="Travel Photo 4">
          <div class="caption">Snæfellsnes, Iceland</div>
        </div>
      </div>
    </div>
</div>
