
    <div class = "first-page" id = "stronapierw">
        <video class="BGvideo" src="assets/Media/video.mp4" autoplay loop muted></video>
      <header>
        <div class = "nawigacja">
          <div data-aos="fade-right" data-aos-duration="1000" class = "logo"><img src = "assets/Media/logo.jpg"></div>
          <nav>
            <ul class = "menu">
              <li (click) = "ToHome()" routerLink = "/home" routerLinkActive = "active" class = "item" data-aos="fade-down"
                  data-aos-anchor-placement="top-bottom" data-aos-duration="1000"><a class = "link">{{'Home' | translate}}</a></li>
              <li (click) = "ToSecondPage()" routerLinkActive = "active" class = "item" data-aos="fade-down"
                  data-aos-anchor-placement="top-bottom" data-aos-duration="1000"><a  class = "link">{{'About us' | translate}}</a></li>
              <li (click) = "ToThirdPage()" routerLinkActive = "active" class = "item" data-aos="fade-down"
                  data-aos-anchor-placement="top-bottom" data-aos-duration="1000"><a  class = "link" >{{'Charity and Trips' | translate}}</a></li>
              <li (click) = "ToContactPage()" routerLinkActive = "active" class = "item" data-aos="fade-down"
                  data-aos-anchor-placement="top-bottom" data-aos-duration="1000"><a  class = "link">{{'Contact' | translate}}</a></li>
              <select #selLang class="custom-select" (change)="translateLanguageTo(selLang.value)">
                  <option *ngFor="let language of translate.getLangs()" [value]="language">{{ language }}</option>
              </select>
            </ul>
          </nav>
        </div>
      </header>
      <div class = "content">
        <h1 class = "title" data-aos="fade-up" data-aos-duration="2000">Learning & Fun Press</h1>
        <a (click) = "ToSecondPage()" routerLinkActive = "active" class = "AboutS">{{'About us' | translate}}</a>
      </div>
    </div>
 
