
    <section id  = "fourthpage">
      <div class = "container">
        <form action="https://formsubmit.co/aleksanderlewy218@gmail.com"  for="name" id = "form" method="POST" data-aos="fade-up" data-aos-duration="1500">
          <h3>{{'Contact Us' | translate}}</h3>
          <input type = "text" autocomplete="additional-name" name="Name" placeholder="{{'Your Name' | translate}}" required>
          <input type = "email" autocomplete="email" name="Email" placeholder="{{'Your Email' | translate}}" required>
          <input type = "tel" autocomplete="tel" id="phone" placeholder="{{'Phone Number' | translate}}" required>
          <textarea name = "Message" rows = "4" placeholder="{{'Help' | translate}}" required></textarea>
          <button type="submit">{{'Message' | translate}}</button>
        </form>
      </div>
    </section>
